<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<h1>Piano Player</h1>
<div id="content">
</div>
<script type="text/javascript">
  React.render(React.createElement(window.PianoPlayer), document.getElementById('content'));
</script>
